<main>
    <article class="user-profile">
        <header>
            <h1>
                <%= user.username %>
            </h1>
        </header>
        <section class="user-details">
            <p>Email: <%= user.email %>
            </p>
            <!-- You can add more user details here -->
        </section>
    </article>
</main>